.serviceSystem{
    // width: 1000px;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
}
.sms-item{
    width: 230px;
    padding:20px;
    p{
        font-size: 16px;
        line-height: 40px;
        cursor: pointer;
    }
    ul{
        padding-left: 15px;
        li{
            line-height: 30px;
            cursor: pointer;
        }
    }
}