.Login{ 
    height: 100%; 
    @include flex_layout(column); 
    background: $login-bg; 
}
.login_box{ 
    width:688px; 
    height: 450px; 
    @extend .border01;
    background: $bg-white; 
}
.login_logo{
    height: 90px;
    background: #eff2f6;
    line-height: 90px;
    text-align: center;
    font-size: $size30;
}
.login_inner{
    @include flex_layout(row); 
}
.login_way01,.login_way02{
    @include flex_layout(column);
    flex: 1;
    padding: 30px 20px;
    p.login_title{
        @include font_style(#303133);
        margin-bottom: 24px;
    }
    p.title_center{
        align-self: flex-start;
    }
}
.login_way01{
    img{
        @extend .border01;
        margin:12px 0;
    }
}
.login_way02{
    .remember { margin: 0px 0px 20px 0px;}
    .login_pass{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            cursor:pointer;
            &:hover{
                color: #409EFF;
            }
        }
    }
}